<div class="role-page">
  <!--  搜索表单-->
  <div el-row>
    <div el-col [span]="24">
      <el-form label-width="100px">
        <div el-row>
          <div el-col [span]="6">
            <el-form-item label="搜索条件1">
              <el-input [(model)]="searchForm.par1"></el-input>
            </el-form-item>
          </div>
          <div el-col [span]="6">
            <el-form-item label="搜索条件2">
              <el-input [(model)]="searchForm.par2"></el-input>
            </el-form-item>
          </div>
          <div el-col [span]="6">
            <el-form-item label="搜索条件3">
              <el-input [(model)]="searchForm.par3"></el-input>
            </el-form-item>
          </div>
          <div el-col [span]="6">
            <el-form-item>
              <el-button type="primary" icon="search" (click)="search()">搜索</el-button>
              <el-button type="default" (click)="searchParCtr()">
                <i class="fa"
                   [ngClass]="{'fa-chevron-down':!showMoreSearchParam,'fa-chevron-up':showMoreSearchParam }"></i>
              </el-button>
            </el-form-item>
          </div>
        </div>
        <div el-row *ngIf="showMoreSearchParam">
          <div el-col [span]="6">
            <el-form-item label="搜索条件4">
              <el-input [(model)]="searchForm.par4"></el-input>
            </el-form-item>
          </div>
          <div el-col [span]="6">
            <el-form-item label="搜索条件5">
              <el-input [(model)]="searchForm.par5"></el-input>
            </el-form-item>
          </div>
        </div>
      </el-form>
    </div>
  </div>
  <!--  操作按钮区域-->
  <div el-row>
    <hr>
    <div el-col [span]="24">
      <el-button size="small" type="primary" (click)="handle('','add')">添加角色</el-button>
    </div>
    <hr>
  </div>

  <!--  表格-->
  <div el-row>
    <div el-col [span]="24" [el-loading]="loading" [text]="'拼命加载中...'">
      <el-table [model]="list" [scroll-x]="false" [stripe]="true" height="300px">
        <el-table-column model-key="name" label="角色名称"></el-table-column>
        <el-table-column model-key="createTime" label="创建日期"></el-table-column>
        <el-table-column label="操作" width="120">
          <ng-template #myaction let-scope="scope">
            <el-button type="text" size="small" (click)="handle(scope,'edit')">编辑</el-button>
            <el-button type="text" size="small" (click)="handle(scope,'del')">删除</el-button>
          </ng-template>
        </el-table-column>
      </el-table>
    </div>
    <div el-col [span]="24">
      <el-pagination [total]="paginationAbout.total" [page-size]="paginationAbout.pageSize"
                     [layout]="['prev', 'pager', 'next', 'jumper', 'size', 'total']"
                     (modelChange)="pageNumChange($event)"></el-pagination>
    </div>
  </div>
</div>
